.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 50%;
    background: linear-gradient(to bottom, #007bff, #0050a0);
    color: aliceblue;
    transition: width 0.3s;
    clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
    padding: 20px;
  }
  
  .logo {
    margin-left: -540px;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 1000;
  }
  .board1{
    font-weight: 1000;
    font-size: 40px;
  }
  
  .icons {
    display: flex;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-left: -90px;
    justify-content: space-between;
  }
  
  
@media (max-width: 780px){
  .board{
    display: none;
  }
}